body {

  font-family: 'Montserrat', sans-serif;

  #top-banner{
    background-color: #0cb3f8;
    color: white;
  }
  .logo{
    padding-bottom: 10px;
  }
  .logo-text{
    padding: 5px;
    font-weight: bold;
    color: white;
    font-size: 1.25rem;
  }

  .nav-link{
    color: white;
    font-weight: light;
    font-size: .75rem;
  }

  .nav-link:hover {
    text-decoration-line: underline;
  }

  .navig-padding{
    padding-top: 50px;
  }

  .hero{
   padding-bottom: 75px;

  }

  .hero-text{
    padding-top: 150px;
  }
  .hero-text h1{
    font-weight: bold;
    font-size: 5rem;
  }

  .hero-text h3{
    padding: 20px;
    font-size: 1.75rem;
    font-weight: lighter;
  }


  #dl-button {
    margin-left: 40px;
    padding:10px;
    border-color: white;
    color: white;
    border-radius: 20px;
    font-size: .50rem;
    font-weight: bold;
  }

  #dl-button:hover {
    margin-left: 40px;
    padding:10px;
    background-color: #ffffff;
    border-color: #ffffff;
    color: black;
    border-radius: 20px;
    font-size: .50rem;
    font-weight: bold;
  }

  .text-link{
    padding-top: 12px;
    color: white;
    font-weight: bold;
    font-size: .50rem;
  }

  #bar  {
    background-color: white;
    color: black;
  }

  .new-button{
    margin-top: 10px;
    background-color: #0cb3f8;
    border-radius: 20px;
    box-shadow: 2px 4px 10px ;
  }

  .bar-text p{
    padding-top: 20px;
    color: black;
  }

  #content {
    background-color: #f5f4f4;
    color: black;
  }

  #content p{
    color: #747474;
    margin-bottom: 35px;
  }

  .subheaders{
    padding-top: 40px;
    padding-bottom: 40px;

  }
  .subheaders h2{
    font-weight: bold;
    font-size: 2.25rem;
  }

  .subheaders p {
   font-size: .8rem;
  }

  .content-blocks {
    padding: 25px;
  }
  .content-blocks p {
    color: #747474;
    font-size: .7rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
  }

  .content-blocks h4{
    font-weight: bold;
    font-size: .75rem;
  }

  #pricing {
    background-color: #222222;
    padding-bottom: 90px;
  }

  #pricing h2, p{
    color: white;
  }

  .pricing-table{
    margin:15px;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: white;
    color: black;
    border-radius: 7px;
    &.alt-blue {
      background-color:#0cb3f8;
      color: white;
    }
  }

  .pricing-table h1{
    font-weight: bold;
  }

  .pricing-table p{
    color: black;
    font-weight: bold;
    font-size: .65rem;
  }

  .alt-blue p {
    color: white;
  }

  .pricing-table ul{
    padding-left: 1px;
    list-style-type: none;
    text-align: center;
    padding-bottom: 15px;
  }

  .pricing-table i{
    color: #4bc056;
  }

  .alt-blue i{
    color:#bcc6d0;
  }

  .get-started {
    border-color: #0cb3f8;
    border-width: medium;
    border-radius: 25px;
    &.try-now {
      background-color: white;
      border-color: white;
    }
  }

  #subscribe {
    background-image: url("../images/cliffs.png");
    background-size: cover;
    height: 340px;
  }

  #subscribe h2 {
    color: white;
  }

  #validationEmail {
    opacity: 75%;
    font-weight: bold;
    font-size: 1rem;
  }


  #inputGroupPrepend2 {
    background-color: white;
    border-radius: 5px;
    border-color: white;
    font-weight: bold;
  }

  .footer-menu {
    padding: 30px;
    font-size: .75rem;
    text-align: center;
    font-weight: bold;
  }

  .footer-menu a{
    color: black;
  }

  #footer p{
    color: black;
    font-size: .7rem;
  }

}
